<table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th>Document Name 1</th>
            <th>Document Name 2</th>
            <th>Document Date From</th>
            <th>Document Date To</th>
        </tr>
    </thead>
    <tbody>
        <button id="download-selected-btn">Download Selected</button>
        {% for row in table %}
        <tr data-hash-id={{row.document_hash_id}}>
            <td>{{ row.document_type }}</td>
            <td>{{ row.document_name }}</td>
            <td>{{ row.document_from }}</td>
            <td>{{ row.document_to }}</td>
            <td id="status-{{row.document_hash_id}}">In central KRS repository</td>
            <td><input type="checkbox" class="download-checkbox"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>>